html,body{
	height: 100%;
	margin: 0 auto;
}

@font-face{
	font-family: antonio-light;
	src: url(./font/Antonio-Light.ttf);
}
@font-face{
	font-family: helveticaNeueItalic;
	src: url(./font/Helvetica-Neue-Italic.otf);
}

.clickable {
    cursor:pointer; 
}

.nav>li>a {
	color: inherit;
	text-decoration: none;
}

.nav>li>a:hover {
	background-color: inherit;
	color: inherit;
}
#sec-intro {
	background-image:url("./img/intro-image-compressed.jpeg");
	background-size:cover;
	background-position: center center;
	height:100%;
	width:100%;
	padding:0px;
	background-repeat: no-repeat;
	overflow: hidden;
	min-height: 600px;
}

.overlay{
	margin: 0;
	padding: 0;
	width:100%;
	height:100vh;
	background-color:black;
	opacity: 0.75;
	filter:alpha(opacity=70); /*ie 7 and earlier*/
	position: absolute;
	overflow: hidden;
	min-height: 600px;
	
}

.title {
	position: relative;
	top: 15%;
}

.name {
	text-align: center;
	color:white;
	padding:0px;
	
}

.name-font {
	font-family:'actor', sans-serif;
	letter-spacing: 0px;
	font-size: 40px;
	line-height: 60px;
	margin-bottom: 15px;
}

.motto-font {
	font-family: 'Six Caps',sans-serif;
	letter-spacing: 10px;
	font-size:35px;
	line-height: 60px;
	margin-bottom: 15px;
}
.name-hr {
	border: none;
	width: 30%;
	height: 1px;
	color: white;
	background-color: white;
	margin-bottom: 10px;
}

.nav-container{
	width: 100%;
	padding: 0px;
	margin: 0 auto;
}

.nav-custom {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

.nav-ul-custom {
	text-align: center;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.nav-ul-custom>li {
	font-family: antonio-light;
	letter-spacing: 2.6px;
	font-size: 15px;
	line-height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 39px;
	padding-right: 39px;
	/*border-right: 1px solid white;*/
}

.nav-overlay {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.6;
}

.nav-ul-custom>li:hover{
	background-color: white;
	color: black;
}
.nav-link{
	text-decoration: none;
	color: white;
}


#sec-about-me {
	margin: 0 auto;
	width: 100%;
	height:100%;
	max-height: 990px;
	background-image: url("./img/head-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#sec-testimonials {
	padding:0px;
	margin: 0 auto;
	width: 100%;
	/*height:100%;*/
	padding: 0px;
	background-image: url("./img/testimonial-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.testimonials-overlay {
	position: absolute;
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
	background-color: black;
	opacity: 0.7;

}

.feedback {
	padding:30px;
	margin:0 auto;
	font-family: helveticaNeueItalic;
	font-size:20px;
	line-height: 25px;
	letter-spacing:1px;
	color:white;
}

.feedback-clear-gutter {
	padding:0px;
	margin:0px;
	
}

#sec-footer {
	height: 100%;
	margin: 0 auto;
	background-image: url("./img/hands-coffee-cup.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: center center;
	height: 700px;
	padding: 0px;
}



.footer-overlay {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.7;
	height: 700px;
	overflow: hidden;
}

.section-title{
	width: 400px;
	height: 45px;
	color: white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	font-family: antonio-light;
	letter-spacing: 2.6px;
	line-height: 40px;
	font-size: 30px;
	text-align: center;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-top: 6px;
	padding-bottom: 45px;
	padding-left: 60px;
	padding-right: 60px;
}

.form-container{
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
	background-color: white;
}

.form-control{
	height: 50px;
	font-family: antonio-light;
	font-size: 17px;
}

.btn-submit {
	border:1px solid white;
	border-radius: 0px;
	margin: auto;
	width: 100px;
	height: 45px;
	font-size: 20px;
	background-color: black;
	color: white;
}

.btn-submit:hover {
	background-color: white;
	color: black;
	border: 2px solid black;
}

.center {
	margin: auto;
	background-color: red;
	width: 100px ;
	padding: 0px;
}

.social-container{
	width: 100%;
	margin: auto;
}

.ul-social {
	list-style: none;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.icons-social {
	display: inline-block;
	font-size: 40px;
	color: white;
	margin: 20px;
}


.icons-social:hover {
	color: black;
}

.icons-social>a {
	color: inherit;
	background-color: inherit;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.icons-social>a:hover {
	color: inherit;
	background-color: inherit;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}


/****************MEDIA QUERIES START**************/
/*************************************************/
/*************************************************/
/*************************************************/
/*Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) { 
.title {
	top: 20%;
}
.name-font{
	font-size: 40px;
	line-height: 60px;
	margin-bottom: 15px;
}

.motto-font {
	font-size:35px;
	line-height: 60px;
	margin-bottom: 15px;
}

.name-hr {
	margin-bottom: 10px;
	height: 1px;
}

.nav-ul-custom>li {
	font-size: 15px;
	line-height: 40px;
}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
.title {
	top: 30%;
}
.name-font{
	font-size: 60px;
	line-height: 90px;
	margin-bottom: 20px;
}

.motto-font {
	font-size: 45px;
	line-height: 90px;
	margin-bottom: 20px;
}

.name-hr {
	margin-bottom: 20px;
	height: 2px;
}

.nav-ul-custom>li {
	font-size: 20px;
	line-height: 40px;
	padding-left: 39px;
	padding-right: 39px;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.name-font{
	font-size: 80px;
	line-height: 110px;
	margin-bottom: 30px;
	padding-left: 70px;
	padding-right: 70px;
}

.motto-font {
	font-size: 60px;
	line-height: 110px;
	margin-bottom: 30px;
}

.name-hr {
	height: 3px;
}

.nav-ul-custom>li {
	font-size: 30px;
	line-height: 40px;

}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.name-font {
	font-size:100px;
	margin-bottom: 30px;
	line-height: 110px;
}

.motto-font {
	font-size: 70px;
	line-height: 110px;
	margin-bottom: 30px;
}
.name-hr {
	margin-bottom: 30px;
}
.nav-ul-custom>li {
	line-height: 40px;
	font-size: 30px;
}
}